.artist-info{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.albuns-list{
    margin-top: 20px;

    .album-item{
        background: #f1f1f1;
        border: 1px solid #e3e3e3;
        padding: 10px;
        margin: 10px 0;

        .album-name{
            font-weight: bold;
            margin-top: 5px;
            min-height: 80px;
        }

        .image-container{
            position:relative;
            overflow:hidden;
            padding-bottom:100%;

            & > img{
                position: absolute;
                max-width: 95%;
                max-height: 95%;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}

.grabr_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99;
    transition: all 300ms ease-in-out;
}
.grabr_content{
    .grabr_datalist{
        position: absolute;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 15px;
        border-top: none;
        max-height: 300px;
        overflow: scroll;
        border: 1px solid #ccc;
        border-top: none;
        z-index: 100;
        transition: all 100ms ease-in-out;
        
        & > li{
            list-style: none;
            border-top: 1px solid #eee;
            cursor: pointer;
            transition: all 150ms ease-in-out;
            background: #fff;
            padding: 5px;

            & > img{
                margin-right: 20px;
            }

            &:hover{
                background: #f3f3f3;
            }

        }
    }
}